= form_for @formula do |f|
  -if @formula.errors.any?
    #error_explanation
      %h2= "#{pluralize(@formula.errors.count, "error")} prohibited this formula from being saved:"
      %ul
        - @formula.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :Value
    = f.text_field :value, :size => 50
  .field
    = f.label :Weight
    = f.text_field :weight, :size => 2

  .actions
    = f.submit 'Save'
