<%= form_for(@formula) do |f| %>
  <% if @formula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@formula.errors.count, "error") %> prohibited this formula from being saved:</h2>

      <ul>
      <% @formula.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
