<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @formula.value %>
</p>

<p>
  <b>Weight:</b>
  <%= @formula.weight %>
</p>


<%= link_to 'Edit', edit_formula_path(@formula) %> |
<%= link_to 'Back', formulae_path %>
