<h1>Listing sectors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Mc code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sectors.each do |sector| %>
  <tr>
    <td><%= sector.name %></td>
    <td><%= sector.mc_code %></td>
    <td><%= link_to 'Show', sector %></td>
    <td><%= link_to 'Edit', edit_sector_path(sector) %></td>
    <td><%= link_to 'Destroy', sector, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sector', new_sector_path %>
