= form_for @stock_transaction, :url => @stock_transaction.new_record? ? portfolio_stock_transactions_path(@portfolio) : portfolio_stock_transaction_path(@portfolio, @stock_transaction) do |f|
  -if @stock_transaction.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stock_transaction.errors.count, "error")} prohibited this stock_transaction from being saved:"
      %ul
        - @stock_transaction.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :transaction_type
    = f.select :transaction_type, [StockTransaction::PURCHASE,StockTransaction::SALE]
  .field
    = f.label :company
    %input{:type => :text, :id => :company, :value => "#{@stock_transaction.portfolio_stock.company.name}" , :size => 30, "data-url" => "#{companies_path}"}
    %input{:type => :hidden, :id => :company_id, :name => :company_id}
  .field
    = f.label :quantity
    = f.text_field :quantity
  .field
    = f.label :transaction_price
    = f.text_field :transaction_price
  .field
    = f.label :brokerage
    = f.text_field :brokerage
  .field
    = f.label :transaction_charges
    = f.text_field :transaction_charges
  .field
    = f.label :stamp_duty
    = f.text_field :stamp_duty
  .field
    = f.label :transaction_date
    %input{:type => :text, :id => :transaction_date, :name => "stock_transaction[transaction_date]", :value => "#{@stock_transaction.transaction_date.strftime("%d %b, %Y")}", :size => 10}
  .field
    = f.label :exchange
    = f.select :exchange, ['NSE','BSE']
  .actions
    = f.submit 'Save'

= javascript_include_tag 'stock_transactions/form'

