= form_for @stock_transaction, :url => portfolio_stock_transaction_path(@portfolio, @stock_transaction) do |f|
  -if @stock_transaction.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stock_transaction.errors.count, "error")} prohibited this stock_transaction from being saved:"
      %ul
        - @stock_transaction.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :transaction_type
    = f.select :transaction_type, [StockTransaction::PURCHASE,StockTransaction::SALE]
  .field
    = f.label :company
    %input{:type => :text, :id => :stock_transaction_company, :value => "#{@stock_transaction.portfolio_stock.company.name}" , :size => 30, "data-url" => "#{companies_path}"}
    %input{:type => :hidden, :id => :stock_transaction_company_id, :name => :stock_transaction_company_id}
  .field
    = f.label :quantity
    = f.text_field :quantity
  .field
    = f.label :transaction_price
    = f.text_field :transaction_price
  .field
    = f.label :brokerage
    = f.text_field :brokerage
  .field
    = f.label :transaction_charges
    = f.text_field :transaction_charges
  .field
    = f.label :stamp_duty
    = f.text_field :stamp_duty
  .field
    = f.label :transaction_date
    = f.date_select :transaction_date
  .field
    = f.label :exchange
    = f.select :exchange, ['NSE','BSE']
  .actions
    = f.submit 'Save'

= javascript_include_tag 'stock_transactions/form'

