%h1 Listing stock transactions for portfolio #{@portfolio.name}

%table
  %tr
    %th Company
    %th Type
    %th Quantity
    %th Cost price
    %th Txn price
    %th Brokerage
    %th Txn Charges
    %th Stamp Duty
    %th Date
    %th Exchange
    %th
    %th
    %th

  - @stock_transactions.each do |stock_transaction|
    %tr
      %td= stock_transaction.portfolio_stock.company.name
      %td= stock_transaction.transaction_type
      %td.price= stock_transaction.quantity
      %td.price= number_with_precision(stock_transaction.cost_price, :precision => 2)
      %td.price= number_with_precision(stock_transaction.transaction_price, :precision => 2)
      %td.price= number_with_precision(stock_transaction.brokerage, :precision => 2)
      %td.price= number_with_precision(stock_transaction.transaction_charges, :precision => 2)
      %td.price= number_with_precision(stock_transaction.stamp_duty, :precision => 2)
      %td= stock_transaction.transaction_date
      %td= stock_transaction.exchange
      %td= link_to 'Edit', edit_portfolio_stock_transaction_path(stock_transaction, :portfolio_id => @portfolio.id)
      %td= link_to 'Destroy', portfolio_stock_transaction_path(stock_transaction, :portfolio_id => @portfolio.id), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Stock transaction', new_portfolio_stock_transaction_path(:portfolio_id => @portfolio.id)
