%p#notice= notice

%p
  %b Company:
  = @stock_transaction.portfolio_stock.company.name
%p
  %b Transaction Type:
  = @stock_transaction.transaction_type
%p
  %b Quantity:
  = @stock_transaction.quantity
%p
  %b Transaction price:
  = @stock_transaction.transaction_price
%p
  %b Transaction date:
  = @stock_transaction.transaction_date
%p
  %b Exchange:
  = @stock_transaction.exchange

= link_to 'Edit', edit_portfolio_stock_transaction_path(@portfolio, @stock_transaction)
