<%= form_for(@balance_sheet) do |f| %>
  <% if @balance_sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@balance_sheet.errors.count, "error") %> prohibited this balance_sheet from being saved:</h2>

      <ul>
      <% @balance_sheet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :period_ended %><br />
    <%= f.date_select :period_ended %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
