%h1 Listing companies

= will_paginate @companies

%table
  %tr
    %th Name
    %th Sector
    %th Price
    %th EPS
    %th PE Ratio
    %th Score
    %th
    %th
    %th

  - @companies.each do |company|
    %tr
      %td= company.name
      %td= company.sector.name
      %td.price= number_with_precision(company.price, :precision => 2)
      %td.price= number_with_precision(company.eps, :precision => 2)
      %td.price= number_with_precision(company.pe_ratio, :precision => 2)
      %td= company.score
      %td= link_to 'Show', company
      %td= link_to 'Edit', edit_company_path(company)
%br

= link_to 'New Company', new_company_path
