%p#notice= notice

%header= @company.name

%section
  %h2
    Sector:
    = link_to @company.sector.name, sector_path(@company.sector)

%section
  .label Score:
  .header= @company.score
  .label MC Code:
  .header= number_with_precision(@company.mc_code, :precision => 2)
  .label Price:
  .header= number_with_precision(@company.price, :precision => 2)
  .label EPS:
  .header.last= number_with_precision(@company.eps, :precision => 2)
  .label PE Ratio:
  .header= number_with_precision(@company.pe_ratio, :precision => 2)
  .label PEG Ratio:
  .header= number_with_precision(@company.peg_ratio, :precision => 2)
  .label Debt Ratio:
  .header= number_with_precision(@company.debt_ratio, :precision => 2)
  .label Profit Growth Rate:
  .header.last= number_with_precision(@company.profit_growth_rate, :precision => 2)
  .label EV to EBITDA:
  .header.last= number_with_precision(@company.ev_to_ebitda, :precision => 2)

%section
  #tabs
    %ul
      %li
        %a{:href => '#data_tab', 'data-url' => "#{company_quarterly_results_path(@company)}"} Quarterly Result
      %li
        %a{:href => '#data_tab', 'data-url' => "#{company_balance_sheets_path(@company)}"} Balance Sheet
      %li
        %a{:href => '#data_tab', 'data-url' => "#{company_profit_and_losses_path(@company)}"} P & L
      %li
        %a{:href => '#data_tab', 'data-url' => "#{company_cash_flows_path(@company)}"} Cash Flow
      %li
        %a{:id => 'formula_link', :href => '#formula_tab', 'data-url' => "#{apply_formulae_path(:company_id => @company.id)}"} Formulae

    #data_tab{'data-bind' => 'template: "dataTemplate", visible: periods.length > 0'}
    #formula_tab{'data-bind' => 'template: "formulaTemplate"'}

-#:javascript
-#  $(document).ready(function() { $("table.tablesorter").tablesorter({ sortList: [[3,1]]}); } );

%script{:type => "text/html", :id => "dataTemplate"}
  %table
    %thead
      %tr
        %th Data
        = "{{each periods}}"
        %th{:class => :price}= "${this}"
        = "{{/each}}"
      = "{{each rows}}"
      %tr
        %td= "${name}"
        = "{{each values}}"
        %td{:class => :price}= "${this}"
        = "{{/each}}"
      = "{{/each}}"

%script{:type => "text/html", :id => "formulaTemplate"}
  %table.tablesorter
    %thead
      %tr
        %th Formula
        %th Illustration
        %th Result
        %th Weight
    %tbody
      = "{{each formulae}}"
      %tr
        %td= "${value}"
        %td= "${illustration}"
        %td= "${result}"
        %td= "${weight}"
      = "{{/each}}"

= javascript_include_tag 'companies/row'
= javascript_include_tag 'companies/parser'
= javascript_include_tag 'companies/show'

