!!!
%html
  %head
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    = stylesheet_link_tag 'compiled/application'
    -#= stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.10.custom'
    = stylesheet_link_tag 'redmond/jquery-ui-1.8.11.custom'

    = javascript_include_tag 'jquery.min'
    = javascript_include_tag 'jquery.tablesorter'
    = javascript_include_tag 'jquery-ui-1.8.10.custom.min'
    = javascript_include_tag 'jquery.tmpl'
    = javascript_include_tag 'jquery.enumerable'
    = javascript_include_tag 'jquery.dateFormat-1.0'
    = javascript_include_tag 'knockout-1.1.2'
    = javascript_include_tag 'knockout.mapping-latest'
    = javascript_include_tag 'rails'

    = csrf_meta_tag

    = yield :styles
  %body
    .container
      = yield

    = yield :scripts